*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}
body {
  background: #3b9ab3;
  color: #fff;
}
.container {
  margin: 12%;
  width: 90%;
  max-width: 700px;
}
.display {
  width: 100%;
  margin-top: 50px;
  margin-bottom: 30px;
  background: #fff;
  color: #000000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 26px 20px;
  border-radius: 5px;
}
.container h1 {
  font-weight: 500;
  font-size: 45px;
}
.container h1 span {
  color: #484cc1;
  border-bottom: 4px solid #484cc1;
  padding-bottom: 7px;
}
.display img {
  width: 30px;
  cursor: pointer;
}
.display input {
  border: 0;
  outline: 0;
  font-size: 24px;
}
.container button img {
  width: 28px;
  margin-right: 10px;
}
.container button {
  border: 0;
  outline: 0;
  background: #484cc1;
  color: #fff;
  font-size: 22px;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 26px;
  border-radius: 5px;
  cursor: pointer;
}
.Options {
	background-color: #484cc1;
	padding: 50px;
	border: 1;
	border-style: solid;
	border-color: #3821a5;
	border-width: 2px;
	border-radius: 25px;
	margin-bottom: 15px;
    margin-top: 15px;
    align-items: center;
	justify-content: space-between;
}
.Options hl {
  font-weight: 500;
  font-size: 25px;
}
.Options input {
  outline: 0;
  font-size: 16.5px;
  border: 1;
  background-color: #FFFFFF;
  border-style: solid;
  border-color: #000000;
  border-width: 2px;
  border-radius: 7px;
}
.CreatePassword {
	margin-bottom: 15px;
}
